<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="treeview_exemplu.Properties.Settings.proba_transareConnectionString"
            connectionString="Data Source=&quot;82.208.137.149\sqlexpress, 8833&quot;;Initial Catalog=proba_transare;Persist Security Info=True;User ID=sa;Password=pro"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>